@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--green-dark: #047857;
	--green-light: #D1FAE5;
	--red-dark: #EF4444;
	--red-light: #FEE2E2;
	--blue-dark: #1D4ED8;
	--blue-light: #DBEAFE;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #eaeaea;
	position: relative;
	height: 100vh;
}

body::before {
	content: '';
	position: absolute;
	background-color: #FFFA82;
	filter: blur(40px);
	opacity: 0.25;
	width: 600px;
	height: 600px;
	top: 0;
	left: 0;
	border-radius: 50%;
	box-shadow: calc(100vw - 600px) calc(100vw - 600px) #FFFA82;
}
body::after {
	content: '';
	position: absolute;
	background-color: #FF9882;
	filter: blur(40px);
	opacity: 0.25;
	width: 600px;
	height: 600px;
	top: 0;
	right: 0;
	border-radius: 50%;
	box-shadow: calc(-100vw + 600px) calc(100vw - 600px) #FF9882;
}

.row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	max-width: 1440px;
	overflow-x: auto;
	padding: 40px;
	margin: auto;
	margin-top: 30px;
	z-index: 1;
}

.card {
	background-color: rgba(255, 255, 255, 0.4);
	border: 2px solid #ffffff;
	border-radius: 20px;
	padding: 15px 15px;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
}

.card, .card .thumbnail{
	position: relative;
	z-index: 1;
}

.card .thumbnail .icon{
	position: absolute;
	top: -38px;
	left: 0;
	background-color: var(--blue-light);
	color: var(--blue-dark);
	font-weight: 600;
	padding: 8px 18px;
	border-radius: 50px;
}

.card .thumbnail .card-image-top {
	width: 350px;
}

.card .card-body h3{
	margin: 20px 10px 6px 10px;
	font-size: 22px;
	font-weight: 600;
}

.card .card-body p{
	font-size: 18px;
}

.card .card-footer{
	display: flex;
	gap: 20px;
	margin-top: 30px;
}

.card .profile{
	width: 50px;
}

.card .card-footer small{
	font-size: 18px;
	font-weight: 600;
}

.jumbotron{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 400px;
	width: 100%;
	overflow: hidden;
}

.jumbotron .display-4{
	font-weight: 500;
	font-size: 50px;
	margin-bottom: 50px;
	max-width: 800px;
}

.content-card{
	width: calc(100%/4 - 14.99px);
	margin-bottom: 20px;
	text-decoration: none;
	color: inherit;
	transition: all 0.2s ease-in-out;
}

.content-card:hover{
	color: var(--blue-dark);
}

@media (max-width: 1399.98px) {
	.content-card{
		width: calc(100%/3 - 13.49px);
	}
}

@media (max-width: 1199.98px) { 
	.content-card{
		width: calc(100%/2 - 10px);
	}
}


@media (max-width: 767.98px) {
.content-card{
		width: calc(100% - 10px);
	}
}

@media (max-width: 991.98px) {
	.jumbotron{
		height: 300px;
	}

	.jumbotron .display-4{
		font-size: 44px;
	}
}

@media (max-width: 575.98px) {
.jumbotron .display-4{
		font-size: 35px;
	}
}