@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

:root {
    --primary:
        rgb(74, 35, 0)
}

#root {
    min-width: 100vh;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1124px;
    padding: 40px 0;
    width: 100%
}

a {
    text-decoration: none;
}

h2 {
    margin: 20px 0;
    color: white;
    letter-spacing: 2px;
}

.btn-nav {
    background-color: var(--primary);
    color: white;
    padding: 15px 30px;
    font-size: .8em;
    border-radius: 10px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    border: none;
    cursor: pointer;
}

.btn-nav:hover {
    background-color: coral;
}

.link-nav {
    color: var(--primary);
    padding: 10px 20px;
    border-radius: 10px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.link-nav:hover {
    background-color: var(--primary);
    color: white;
}

.wrapper-1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-nav-text {
    width: 600px;
}

.row-nav-text h1 {
    letter-spacing: 2px;
    color: lightsalmon;
    font-size: 2.7em;
}

.row-nav-text p {
    margin-top: 20px;
    font-size: 1.3em;
}

.wrapper-2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 3fr));
}

.card-2 {
    background-color: white;
    margin: 0 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.card-2 h4 {
    font-size: 2.1em;
    color: coral;
    text-align: center;
    margin: 30px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.card-2 p {
    font-size: 1.25em;
    text-align: center;
    margin: 0 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

.card-2 image {
    font-size: 1.2em;
    margin: 0 auto;
}

.card-2 button {
    font-size: 1.2em;
    margin: 30px auto;
    padding: 10px 30px;
    border-radius: 10px;
    background: none;
    border: 3px solid;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.card-2:hover~.card-2 button{
background-color: white;
}


.card-2:hover {
    background-color: var(--primary);
    color: white;
}

.card-2 button:hover {
    background-color: coral;
    border: 3px solid coral;
    color: white;
}

.swiper {
    background-color: white;
    border-radius: 20px;
    width: 900px;
    display: -webkit-inline-box;
    overflow-x: scroll;
    overflow-y: hidden;
}

.card-3 {
    width: 500px;
    margin: 30px 50px;
}

.card-3-header {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
}

.btn-footer {
    background: none;
    border: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    cursor: pointer;
}

.btn-footer:hover {
    background-color: var(--primary);
    border: 2px solid var(--primary);
}